<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <p class="title green">Directions</p>

<div formArrayName="recipeDirections">

  <div *ngFor="let direction of recipeDirections().controls; let empIndex = index">
    <div [formGroupName]="empIndex">
    
<div>
    <mat-form-field appearance="fill" color="accent" appearance="outline">
        <mat-label>Title</mat-label>
        <input (focus)="removeFocus($event)" #title required matInput type="text" class="formControl" formControlName="title">
        <button type="button" class="icon" *ngIf="this.recipeForm.get('recipeDirections').value[empIndex].title !== ''" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="clearTitle(empIndex);" >
          <mat-icon>close</mat-icon>
        </button>
     </mat-form-field>
</div>

      <div formArrayName="steps" cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let step of directionSteps(empIndex).controls; let stepIndex = index" cdkDrag [cdkDragDisabled]="!reorder">
          <div [formGroupName]="stepIndex">
            <mat-form-field  appearance="fill" color="accent" appearance="outline">
            <mat-label>Step {{stepIndex + 1}} </mat-label>
            <textarea required matInput type="text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="step"> </textarea>
            <button type="button" class="icon" *ngIf="getStep(empIndex, stepIndex) === false" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="clearStep(empIndex, stepIndex);" >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
            <button class="icon" *ngIf="!reorder" (click)="removeDirectionStep(empIndex, stepIndex)"><mat-icon>delete_outline</mat-icon></button>
            <button *ngIf="reorder" class="icon" cdkDragHandle><mat-icon>drag_handle</mat-icon></button>
          </div>
        </div>
      </div>

      <button
        class="standard green"
        mat-button 
        matRipple 
        matRippleRadius="60"
        matRippleColor="rgba(94, 252, 130, 0.8)"
        class="standard green" 
        type="button" 
        (click)="addDirectionStep(empIndex)"> 
        Add Step 
      </button>

    <button 
      class="standard reorder"
      mat-button 
      matRipple 
      matRippleRadius="60"
      matRippleColor="rgba(255, 178, 255, 0.8)"
      type="button"
      (click)="toggleReorder()"> 
      {{reorderText}}
    </button>

      <mat-divider></mat-divider>
    </div>

  </div>

</div>

<span>
  <button
    class="standard green"
    mat-button 
    matRipple 
    matRippleRadius="60"
    matRippleColor="rgba(94, 252, 130, 0.8)"
    type="submit" 
    class="standard green" 
    [disabled]="!recipeForm.valid">
    Submit
  </button>
    
    <button 
      mat-button
      matRipple 
      matRippleRadius="60"
      matRippleColor="rgba(255, 178, 255, 0.8)"
      type="button" 
      class="standard" 
      (click)="onCancel()">
      Cancel
    </button>
</span>

</form>