<div class="spinner" *ngIf="spinnerActive">
    <mat-progress-spinner
        color="accent"
        mode="indeterminate">
    </mat-progress-spinner>
    <p class="title">{{spinnerText}}</p>
</div>

<div class="wrapper" *ngIf="!spinnerActive">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="tip !== null">{{tip?.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p class="description">{{ tip?.description }}</p>
        </mat-card-content>
        
    <div id="dividerDiv">
        <mat-divider id="divider"></mat-divider>
    </div>
        
        <mat-card-actions id="actions">
                <button mat-icon-button class="icon" *ngIf="!isFavorite" > <mat-icon class="favorite" (click)="favoriteTip(tip._id)">favorite_border</mat-icon> </button>
                <button mat-icon-button class="icon favorited" *ngIf="isFavorite" > <mat-icon (click)="deleteFavorite(tip._id)">favorite</mat-icon> </button>
                <button mat-icon-button class="icon purple"(click)="editTip()" *ngIf="allowEdit"> <mat-icon class="share">edit</mat-icon> </button>
                <button mat-icon-button class="icon"(click)="deleteTip()" *ngIf="allowEdit"> <mat-icon class="share">delete</mat-icon> </button>
                <button mat-icon-button class="icon purple" > <mat-icon class="share" (click)="shareTip(tip._id)">share</mat-icon> </button>
        </mat-card-actions>
    </mat-card>

    <button type="button" class="standard" (click)="navigate('/quick-tips')">Back</button>
    
</div>